@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    background-color: #4984A0;
    min-height: 100vh;
}
main{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#login{
    background-color: white;
    width: 250px;
    height: 520px;
    border-radius: 20px;
    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.450);
    overflow: hidden;
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}
div#formulario{
    padding: 10px;
}
div#formulario h1{
    text-align: center;
    padding-bottom: 10px;
}
div#formulario p{
    font-size: 0.8em;
}
div#imagem{
    background: #4984A0 url(imagens/pexels-karola-g-6757464\ \(1\).jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}
form div.campo{
    background-color: gray; 
    margin: 5px 0;
    height: 40px;

    border-radius: 5px
}
form label{
    display: none;
}
form input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #1A2980;
    color: white;
    border: none;
    border-radius: 5px;
}
form input[type=submit]:hover{
    background-color: #3146b8;
    cursor: pointer;
}
form a.botao{
    text-align: center;
    display: block;
    margin-top: 10px;
    padding-top: 7px;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid #3ba2dd;
    color: #3ba2dd;
    border-radius: 5px;
}
form a.botao:hover{
    background-color: #2f90d1;
    color: white;
}
form a.botao i{
    font-size: 0.9em;
}
@media (min-width: 768px){
    body, html{
        background: #1A2980;
        background: linear-gradient(to right, #3ba2dd, #1A2980); 

    }
    section#login{
       display: flex;
       flex-direction: row-reverse;
       width: 70vw;
       
    }
    div#formulario{
        width: 70%;
        height: 100%;
    }
    div#formulario p{
        font-size: 1em;
    }
    div#imagem{
        width: 30%;
        height: 100%;
    }
}
@media (min-width: 1024px){
    body, html{
        background: #1A2980;
        background: linear-gradient(to right, #3ba2dd, #1A2980); 

    }
    section#login{
       display: flex;
       flex-direction: row-reverse;
       width: 950px;
    }
    div#formulario{
        width: 60%;
        height: 100%;
    }
    div#formulario p{
        font-size: 1em;
    }
    div#imagem{
        width: 40%;
        height: 100%;
    }
}